<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.pocketleague.manager"
	android:versionCode="1"
	android:versionName="1.1" >

	<uses-sdk
		android:minSdkVersion="14"
		android:targetSdkVersion="19" />

	<!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->


	<!-- required for dropbox -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<activity
			android:name="com.pocketleague.manager.PocketLeague"
			android:label="@string/title_activity_pocketleague" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.dropbox.sync.android.DbxAuthActivity" />
		<activity
			android:name="com.dropbox.client2.android.AuthActivity"
			android:launchMode="singleTask" >
			<intent-filter>
				<data android:scheme="db-ooldynddx9obmhl" />

				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<service
			android:name="com.dropbox.sync.android.DbxSyncService"
			android:enabled="true"
			android:exported="false"
			android:label="Dropbox Sync" />

		<activity
			android:name="com.pocketleague.manager.backend.MenuContainerActivity"
			android:label="@string/title_activity_menu_container"
			android:parentActivityName="com.pocketleague.manager.PocketLeague" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.NewGame"
			android:label="@string/title_activity_new_game"
			android:parentActivityName="com.pocketleague.manager.View_GameTypes" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.NewPlayer"
			android:label="@string/title_activity_new_player"
			android:parentActivityName="com.pocketleague.manager.View_Players" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.NewTeam"
			android:label="@string/title_activity_new_team"
			android:parentActivityName="com.pocketleague.manager.View_Teams" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.NewSession"
			android:label="@string/title_activity_new_session"
			android:parentActivityName="com.pocketleague.manager.View_Sessions" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.NewVenue"
			android:label="@string/title_activity_new_venue"
			android:parentActivityName="com.pocketleague.manager.View_Venues" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.View_GameTypes"
			android:label="@string/title_activity_games"
			android:parentActivityName="com.pocketleague.manager.PocketLeague" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.View_Players"
			android:label="@string/title_activity_players"
			android:parentActivityName="com.pocketleague.manager.PocketLeague" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.View_Teams"
			android:label="@string/title_activity_teams"
			android:parentActivityName="com.pocketleague.manager.PocketLeague" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.Quick_Game"
			android:label="@string/title_activity_quick_game"
			android:parentActivityName="com.pocketleague.manager.PocketLeague" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.View_Sessions"
			android:label="@string/title_activity_sessions"
			android:parentActivityName="com.pocketleague.manager.PocketLeague" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.View_Venues"
			android:label="@string/title_activity_venues"
			android:parentActivityName="com.pocketleague.manager.PocketLeague" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.DbSettings"
			android:label="@string/title_activity_dbSettings"
			android:parentActivityName="com.pocketleague.manager.PocketLeague" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.Detail_Game"
			android:label="@string/title_activity_detail_game"
			android:parentActivityName="com.pocketleague.manager.View_GameTypes" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.Detail_Player"
			android:label="@string/title_activity_detail_player"
			android:parentActivityName="com.pocketleague.manager.View_Players" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.Detail_Team"
			android:label="@string/title_activity_detail_team"
			android:parentActivityName="com.pocketleague.manager.View_Teams" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.Detail_Session_League"
			android:label="@string/title_activity_detail_session"
			android:parentActivityName="com.pocketleague.manager.View_Sessions" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.Detail_Session_Ladder"
			android:label="@string/title_activity_detail_session"
			android:parentActivityName="com.pocketleague.manager.View_Sessions" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.Detail_Session_Elimination"
			android:label="@string/title_activity_detail_session"
			android:parentActivityName="com.pocketleague.manager.View_Sessions" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.Detail_Venue"
			android:label="@string/title_activity_detail_venue"
			android:parentActivityName="com.pocketleague.manager.View_Venues" >
		</activity>
		<activity
			android:name="com.pocketleague.manager.AboutPage"
			android:label="@string/title_activity_about_page"
			android:parentActivityName="com.pocketleague.manager.View_Sessions" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.pocketleague.manager.PocketLeague" />
		</activity>
		<activity
			android:name="com.pocketleague.manager.Preferences"
			android:label="@string/title_activity_settings"
			android:parentActivityName="com.pocketleague.manager.PocketLeague" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.pocketleague.manager.PocketLeague" />
		</activity>
	</application>

</manifest>